<%- include('partials/head_default') %>
  <div class="main-container">
    <div class="menu-container">
      <div class="button-container">Settings</div>
      <div class="button-container">Add Item</div>
      <div class="button-container">Medications</div>
      <div class="button-container">Bills</div>
      <div class="button-container">Appointments</div>
      <div class="button-container">Reminders</div>
    </div>
    <div class="middle-container">
      <div class="welcome-message-container">
        <p>Good Morning X</p>
        <p>Type in any new activity or item! We will sort it in the right category for you!</p>
      </div>
      <div class="main-sub-container">
        <div class="main-all-container">
          <p>ALL</p>
          <div class="container">
            <div class="reminders">
              <% for (let i=0; i < data.length; i++) { %>
                  <% if (i > index) {%> 
                  <div class="row d-flex fw-bold">
                  <% } else { %>
                  <div class="row d-flex">
                  <% } %>
                    <div class="col-2 text-end">
                      <% const time = data[i].startDate.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }).split(" ") %>
                      <% if (time[0].length == 4) { %>
                      <p style="font-size: larger;">0<%= time[0] %></p>
                      <% } else { %>
                      <p style="font-size: larger;"><%= time[0] %></p>
                      <% } %>
                      <p style="font-size: smaller;"><%= time[1] %></p>
                    </div>
                    <div class="col-1 px-0 text-center align-self-center">
                    <% const category = data[i].category %> 
                      <% if (category == "Medications") { %>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.7589 9.25052L10.8175 5.10783L4.93576 11.4807L8.79531 15.5438L8.79576 15.5434C9.55975 16.3457 10.614 16.8421 11.778 16.8421C14.1095 16.8421 16.0002 14.8519 16.0002 12.3976C16.0002 11.1682 15.5255 10.0552 14.7589 9.25052Z" fill="#8FC5A8"/>
                          <path d="M7.07599 1.17567C6.32399 0.447719 5.32399 0 4.22222 0C1.89022 0 0 1.9897 0 4.44444C0 5.6042 0.425777 6.6573 1.11733 7.44841L1.11111 7.45496L4.93555 11.4807L10.8173 5.10783L7.07599 1.17567Z" fill="#CA5C1D"/>
                        </svg>
                      <% } else if (category == "Bills") { %>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.949 10.6391C14.65 7.69778 13 6.22222 13 6.22222L10 2.66667H6L3 6.22222C3 6.22222 2.2905 6.85911 1.7165 8.12222C0.722 8.41556 0 9.23956 0 10.2222C0 10.8658 0.3125 11.4409 0.8045 11.8467C0.6165 12.1587 0.5 12.5098 0.5 12.8889C0.5 13.7591 1.068 14.5049 1.8875 14.8693C2.529 15.7236 3.386 16 4 16H12C12.6895 16 13.6865 15.6538 14.339 14.5289C15.3045 14.2218 16 13.4089 16 12.4444C16 11.6987 15.583 11.0427 14.949 10.6391ZM8 2.66667C8.275 2.66667 8.529 2.59644 8.75 2.48178C8.9715 2.59644 9.2255 2.66667 9.5 2.66667C10.3285 2.66667 11.5 1.62489 11.5 0.888889C11.5 0.888889 11.5 0 10.5 0C10.106 0 10 0.444444 9.5 0.444444C9 0.444444 9 0 8 0C7 0 7 0.444444 6.5 0.444444C6 0.444444 5.8945 0 5.5 0C4.5 0 4.5 0.888889 4.5 0.888889C4.5 1.62489 5.672 2.66667 6.5 2.66667C6.7745 2.66667 7.0285 2.59644 7.25 2.48178C7.4715 2.59644 7.7255 2.66667 8 2.66667Z" fill="#FDD888"/>
                          <path d="M10.9505 10.3741C10.9505 8.38436 6.65998 8.51414 6.65998 7.31369C6.65998 6.73236 7.31048 6.44836 8.06548 6.44836C9.33448 6.44836 9.56048 7.14569 10.135 7.14569C10.5415 7.14569 10.7375 6.92658 10.7375 6.6808C10.7375 6.11014 9.72548 5.67814 8.75498 5.5288V4.97769C8.75498 4.63414 8.42998 4.35547 8.02798 4.35547C7.62548 4.35547 7.29998 4.63414 7.29998 4.97769V5.54791C6.24198 5.75369 5.33148 6.38125 5.33148 7.40391C5.33148 9.31458 9.62098 9.23725 9.62098 10.5795C9.62098 11.0448 9.03198 11.5097 8.06548 11.5097C6.61498 11.5097 6.13198 10.6701 5.54298 10.6701C5.25598 10.6701 4.99948 10.8764 4.99948 11.1875C4.99948 11.6821 5.96848 12.2768 7.30098 12.4426L7.30048 12.447V13.0684C7.30048 13.4115 7.62648 13.6906 8.02848 13.6906C8.43048 13.6906 8.75598 13.4115 8.75598 13.0684V12.447C8.75598 12.4395 8.75198 12.4337 8.75148 12.427C9.95048 12.2359 10.9505 11.5684 10.9505 10.3741Z" fill="#6A93A0"/>
                          <path d="M10.8 2.04454C10.8 2.28988 10.5765 2.48899 10.3 2.48899H5.29999C5.02399 2.48899 4.79999 2.28988 4.79999 2.04454C4.79999 1.79921 5.02399 1.6001 5.29999 1.6001H10.3C10.5765 1.6001 10.8 1.79921 10.8 2.04454Z" fill="#CA5C1D"/>
                        </svg>
                      <% } else if (category == "Appointments") { %>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M13.4076 1.7067H14.4056V2.15336H13.4076V1.7067Z" fill="#66757F"/>
                          <path d="M0 5.28003V14.2133C0 15.2 0.8955 16 2 16H14C15.1045 16 16 15.2 16 14.2133V5.28003H0Z" fill="#CCD6DD"/>
                          <path d="M14 1.7067H2C0.8955 1.7067 0 2.50667 0 3.49336V5.72668H16V3.49336C16 2.50667 15.1045 1.7067 14 1.7067Z" fill="#CA5C1D"/>
                          <path d="M3.41791 3.81989C3.06691 3.81989 2.78241 3.52241 2.78241 3.1548C2.78241 2.78764 3.06691 2.48972 3.41791 2.48972C3.76841 2.48972 4.05291 2.78764 4.05291 3.1548C4.05291 3.52196 3.76841 3.81989 3.41791 3.81989ZM6.41791 3.81989C6.06691 3.81989 5.78241 3.52241 5.78241 3.1548C5.78241 2.78764 6.06691 2.48972 6.41791 2.48972C6.76841 2.48972 7.05291 2.78764 7.05291 3.1548C7.05291 3.52196 6.76841 3.81989 6.41791 3.81989ZM9.41791 3.81989C9.06691 3.81989 8.78241 3.52241 8.78241 3.1548C8.78241 2.78764 9.06691 2.48972 9.41791 2.48972C9.76841 2.48972 10.0534 2.78764 10.0534 3.1548C10.0529 3.52196 9.76841 3.81989 9.41791 3.81989ZM12.4179 3.81989C12.0669 3.81989 11.7824 3.52241 11.7824 3.1548C11.7824 2.78764 12.0669 2.48972 12.4179 2.48972C12.7684 2.48972 13.0534 2.78764 13.0534 3.1548C13.0529 3.52196 12.7684 3.81989 12.4179 3.81989Z" fill="#292F33"/>
                          <path d="M12.6576 0C12.0191 0 11.4661 0.358226 11.1606 0.879931C10.8576 0.369392 10.3021 0 9.65756 0C9.01906 0 8.46606 0.358226 8.16056 0.879931C7.85756 0.369392 7.30206 0 6.65756 0C6.01906 0 5.46606 0.358226 5.16056 0.879931C4.85756 0.369392 4.30206 0 3.65756 0C2.69056 0 1.90756 0.812484 1.90756 1.78889C1.90756 2.61701 2.43006 3.2946 3.19206 3.5425C3.57156 3.66534 3.80406 3.34284 3.77156 3.08422C3.74406 2.86983 3.58456 2.73002 3.40706 2.62952C3.16456 2.49239 2.90706 2.17928 2.90706 1.79113C2.90706 1.29801 3.24256 0.855364 3.65706 0.855364C4.07156 0.855364 4.40706 1.2596 4.40706 1.70626H4.91506C4.91356 1.73396 4.90706 1.76031 4.90706 1.78845C4.90706 2.61657 5.42956 3.29416 6.19156 3.54206C6.57106 3.66489 6.80356 3.3424 6.77106 3.08378C6.74356 2.86983 6.58406 2.73002 6.40656 2.62952C6.16406 2.49239 5.90656 2.17928 5.90656 1.79113C5.90656 1.29801 6.24206 0.855364 6.65656 0.855364C7.07106 0.855364 7.40756 1.26004 7.40756 1.70671H7.91556C7.91406 1.7344 7.90756 1.76075 7.90756 1.78889C7.90756 2.61701 8.43006 3.2946 9.19206 3.5425C9.57156 3.66534 9.80406 3.34284 9.77156 3.08422C9.74406 2.87027 9.58456 2.73047 9.40706 2.62997C9.16456 2.49284 8.90706 2.17973 8.90706 1.79157C8.90706 1.29846 9.24256 0.855811 9.65706 0.855811C10.0716 0.855811 10.4076 1.26004 10.4076 1.70671H10.9156C10.9141 1.7344 10.9076 1.76075 10.9076 1.78889C10.9076 2.61701 11.4301 3.2946 12.1921 3.5425C12.5716 3.66534 12.8041 3.34284 12.7716 3.08422C12.7441 2.87027 12.5846 2.73047 12.4071 2.62997C12.1646 2.49284 11.9071 2.17973 11.9071 1.79157C11.9071 1.29846 12.2426 0.855811 12.6571 0.855811C13.0716 0.855811 13.4076 1.26004 13.4076 1.70671H14.4056C14.3951 0.813378 13.6176 0 12.6576 0Z" fill="#66757F"/>
                          <path d="M4.5 6.62003H6.5V8.40669H4.5V6.62003ZM7 6.62003H9V8.40669H7V6.62003ZM9.5 6.62003H11.5V8.40669H9.5V6.62003ZM12 6.62003H14V8.40669H12V6.62003ZM2 8.85335H4V10.64H2V8.85335ZM4.5 8.85335H6.5V10.64H4.5V8.85335ZM7 8.85335H9V10.64H7V8.85335ZM9.5 8.85335H11.5V10.64H9.5V8.85335ZM12 8.85335H14V10.64H12V8.85335ZM2 11.0867H4V12.8733H2V11.0867ZM4.5 11.0867H6.5V12.8733H4.5V11.0867ZM7 11.0867H9V12.8733H7V11.0867ZM9.5 11.0867H11.5V12.8733H9.5V11.0867ZM12 11.0867H14V12.8733H12V11.0867ZM2 13.32H4V15.1067H2V13.32ZM4.5 13.32H6.5V15.1067H4.5V13.32ZM7 13.32H9V15.1067H7V13.32Z" fill="white"/>
                        </svg>
                      <% } else if (category == "Tasks") { %>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16 14.2222C16 15.204 15.204 16 14.2222 16H1.77778C0.796 16 0 15.204 0 14.2222V1.77778C0 0.796 0.796 0 1.77778 0H14.2222C15.204 0 16 0.796 16 1.77778V14.2222Z" fill="#8FC5A8"/>
                          <path d="M13.0133 2.82757C12.4996 2.49379 11.8116 2.64002 11.4764 3.15468L6.63822 10.612L4.40311 8.54535C3.95245 8.12846 3.24933 8.15646 2.83289 8.60668C2.41645 9.05735 2.444 9.76046 2.89467 10.1769L6.09867 13.1396C6.312 13.3373 6.58311 13.4351 6.85245 13.4351C7.15156 13.4351 7.53422 13.3098 7.78534 12.9289C7.93289 12.704 13.3409 4.36446 13.3409 4.36446C13.6747 3.84935 13.528 3.16135 13.0133 2.82757Z" fill="white"/>
                        </svg>
                      <% } %>
                    </div>
                    <div class="col-6">
                      <%= data[i].title %>
                    </div>
                    <% if (isTrustee) { %>
                      <div class="col-2">
                        <button type="button" class="btn btn-primary notify-button" name=<%= data[i].id %>>Notify</button>
                      </div>
                    <% } else { %>
                      <div class="col-2">
                        <%= data[i].category %>
                      </div>  
                    <% } %>
                    <div class="col-1 text-end">
                      <div class="form-check">
                        <% if (data[i].checked) { %>
                          <input class="form-check-input item-checkbox" type="checkbox" name=<%= data[i].id %> value=<%= data[i].checked %> checked>
                        <% } else { %>
                          <input class="form-check-input item-checkbox" type="checkbox" name=<%= data[i].id %> value=<%= data[i].checked %>>
                        <% } %>
                      </div>
                    </div>
                    <hr class="my-1" style="padding-top: 3px;"/>
                  </div>
              <% } %>
            </div>
          </div>
        </div>

        <%- include('partials/settings') %>
        <%- include('partials/add_items') %>
        <%- include('partials/medications') %>
        <%- include('partials/bills') %>
        <%- include('partials/appointments') %>
        <%- include('partials/reminders') %>
      </div>
    </div>
    <%- include('partials/notifications') %>
  </div>
  <%- include('partials/foot_default') %>