<%- include('partials/head_default') %>
  <div class="main-container">
    <div class="menu-container">
      <div class="button-container">Settings</div>
      <div class="button-container">Add Item</div>
      <div class="button-container">Medications</div>
      <div class="button-container">Bills</div>
      <div class="button-container">Appointments</div>
      <div class="button-container">Reminders</div>
    </div>
    <div class="middle-container">
      <div class="welcome-message-container">
        <p>Good Morning X</p>
        <p>Type in any new activity or item! We will sort it in the right category for you!</p>
      </div>
      <div class="main-sub-container">
        <div class="main-all-container">
          <p>ALL</p>
        </div>
        <%- include('partials/settings') %>
          <%- include('partials/add_items') %>
            <%- include('partials/medications') %>
              <%- include('partials/bills') %>
                <%- include('partials/appointments') %>
                  <%- include('partials/reminders') %>
      </div>
    </div>
    <%- include('partials/notifications') %>
  </div>
  <%- include('partials/foot_default') %>