<%- include('partials/head_default') %>
  <div class="main-container">
    <div class="menu-container">
      <div class="button-container" id="add-item-button">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="60" height="60" fill="white" fill-opacity="0.01" />
          <path
            d="M40.005 7.5H12.4875C11.1647 7.5 9.89614 8.02547 8.9608 8.9608C8.02547 9.89614 7.5 11.1647 7.5 12.4875V47.5125C7.5 50.2675 9.7325 52.5 12.4875 52.5H47.5125C48.8353 52.5 50.1039 51.9745 51.0392 51.0392C51.9745 50.1039 52.5 48.8353 52.5 47.5125V19.995V27.5H47.5V47.5H12.5V12.5H32.5V7.5H40.005Z"
            fill="#4F4F4F" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M47.5 12.5V9.975C47.4934 9.3163 47.2271 8.68682 46.759 8.22337C46.2909 7.75992 45.6587 7.49997 45 7.5C43.61 7.5 42.5 8.61 42.5 9.975V12.5H40C39.337 12.5 38.7011 12.7634 38.2322 13.2322C37.7634 13.7011 37.5 14.337 37.5 15C37.5 15.663 37.7634 16.2989 38.2322 16.7678C38.7011 17.2366 39.337 17.5 40 17.5H42.5V20.025C42.5066 20.6837 42.7729 21.3132 43.241 21.7766C43.7091 22.2401 44.3413 22.5 45 22.5C46.39 22.5 47.5 21.39 47.5 20.025V17.5H50C50.663 17.5 51.2989 17.2366 51.7678 16.7678C52.2366 16.2989 52.5 15.663 52.5 15C52.5 14.337 52.2366 13.7011 51.7678 13.2322C51.2989 12.7634 50.663 12.5 50 12.5H47.5Z"
            fill="#4F4F4F" />
        </svg>
        <p>Add Item</p>
      </div>
      <div class="button-container" id="medications-button">
        <svg width="57" height="60" viewBox="0 0 57 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M52.5777 32.9551L38.5367 18.1968L17.5829 40.9001L31.3326 55.3751L31.3341 55.3734C34.0559 58.2318 37.8116 60.0001 41.9583 60.0001C50.2645 60.0001 57 52.9101 57 44.1668C57 39.7868 55.309 35.8218 52.5777 32.9551Z"
            fill="#8FC5A8" />
          <path
            d="M25.2083 4.18833C22.5292 1.595 18.9668 0 15.0417 0C6.73392 0 0 7.08833 0 15.8333C0 19.965 1.51683 23.7167 3.9805 26.535L3.95833 26.5583L17.5829 40.9L38.5368 18.1967L25.2083 4.18833Z"
            fill="#CA5C1D" />
        </svg>
        <p>Medications</p>
      </div>
      <div class="button-container" id="bills-button">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M56.0588 39.8967C54.9375 28.8667 48.75 23.3333 48.75 23.3333L37.5 10H22.5L11.25 23.3333C11.25 23.3333 8.58938 25.7217 6.43688 30.4583C2.7075 31.5583 0 34.6483 0 38.3333C0 40.7467 1.17187 42.9033 3.01688 44.425C2.31187 45.595 1.875 46.9117 1.875 48.3333C1.875 51.5967 4.005 54.3933 7.07812 55.76C9.48375 58.9633 12.6975 60 15 60H45C47.5856 60 51.3244 58.7017 53.7712 54.4833C57.3919 53.3317 60 50.2833 60 46.6667C60 43.87 58.4363 41.41 56.0588 39.8967ZM30 10C31.0312 10 31.9837 9.73667 32.8125 9.30667C33.6431 9.73667 34.5956 10 35.625 10C38.7319 10 43.125 6.09333 43.125 3.33333C43.125 3.33333 43.125 0 39.375 0C37.8975 0 37.5 1.66667 35.625 1.66667C33.75 1.66667 33.75 0 30 0C26.25 0 26.25 1.66667 24.375 1.66667C22.5 1.66667 22.1044 0 20.625 0C16.875 0 16.875 3.33333 16.875 3.33333C16.875 6.09333 21.27 10 24.375 10C25.4044 10 26.3569 9.73667 27.1875 9.30667C28.0181 9.73667 28.9706 10 30 10Z"
            fill="#FDD888" />
          <path
            d="M41.0643 38.9033C41.0643 31.4416 24.9749 31.9283 24.9749 27.4266C24.9749 25.2466 27.4143 24.1816 30.2455 24.1816C35.0043 24.1816 35.8518 26.7966 38.0062 26.7966C39.5306 26.7966 40.2656 25.9749 40.2656 25.0533C40.2656 22.9133 36.4705 21.2933 32.8312 20.7333V18.6666C32.8312 17.3783 31.6124 16.3333 30.1049 16.3333C28.5955 16.3333 27.3749 17.3783 27.3749 18.6666V20.8049C23.4074 21.5766 19.993 23.9299 19.993 27.7649C19.993 34.9299 36.0787 34.6399 36.0787 39.6733C36.0787 41.4183 33.8699 43.1616 30.2455 43.1616C24.8062 43.1616 22.9949 40.0133 20.7862 40.0133C19.7099 40.0133 18.748 40.7866 18.748 41.9533C18.748 43.8083 22.3818 46.0382 27.3787 46.6599L27.3768 46.6766V49.0066C27.3768 50.2933 28.5993 51.3399 30.1068 51.3399C31.6143 51.3399 32.8349 50.2933 32.8349 49.0066V46.6766C32.8349 46.6483 32.8199 46.6266 32.818 46.6016C37.3143 45.8849 41.0643 43.3816 41.0643 38.9033Z"
            fill="#6A93A0" />
          <path
            d="M40.5 7.66667C40.5 8.58667 39.6619 9.33333 38.625 9.33333H19.875C18.84 9.33333 18 8.58667 18 7.66667C18 6.74667 18.84 6 19.875 6H38.625C39.6619 6 40.5 6.74667 40.5 7.66667Z"
            fill="#CA5C1D" />
        </svg>
        <p>Bills</p>
      </div>
      <div class="button-container" id="appointments-button">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M50.2789 6.40015H54.0214V8.07514H50.2789V6.40015Z" fill="#66757F" />
          <path d="M0 19.8V53.2999C0 57 3.35812 59.9999 7.5 59.9999H52.5C56.6419 59.9999 60 57 60 53.2999V19.8H0Z"
            fill="#CCD6DD" />
          <path
            d="M52.5 6.40015H7.5C3.35812 6.40015 0 9.40006 0 13.1001V21.4751H60V13.1001C60 9.40006 56.6419 6.40015 52.5 6.40015Z"
            fill="#CA5C1D" />
          <path
            d="M12.8165 14.3246C11.5002 14.3246 10.4333 13.209 10.4333 11.8305C10.4333 10.4536 11.5002 9.33643 12.8165 9.33643C14.1309 9.33643 15.1977 10.4536 15.1977 11.8305C15.1977 13.2073 14.1309 14.3246 12.8165 14.3246ZM24.0665 14.3246C22.7502 14.3246 21.6833 13.209 21.6833 11.8305C21.6833 10.4536 22.7502 9.33643 24.0665 9.33643C25.3808 9.33643 26.4477 10.4536 26.4477 11.8305C26.4477 13.2073 25.3808 14.3246 24.0665 14.3246ZM35.3165 14.3246C34.0002 14.3246 32.9333 13.209 32.9333 11.8305C32.9333 10.4536 34.0002 9.33643 35.3165 9.33643C36.6308 9.33643 37.6996 10.4536 37.6996 11.8305C37.6977 13.2073 36.6308 14.3246 35.3165 14.3246ZM46.5665 14.3246C45.2502 14.3246 44.1833 13.209 44.1833 11.8305C44.1833 10.4536 45.2502 9.33643 46.5665 9.33643C47.8808 9.33643 48.9496 10.4536 48.9496 11.8305C48.9477 13.2073 47.8808 14.3246 46.5665 14.3246Z"
            fill="#292F33" />
          <path
            d="M47.4664 0C45.0721 0 42.9983 1.34335 41.8527 3.29974C40.7164 1.38522 38.6333 0 36.2164 0C33.8221 0 31.7483 1.34335 30.6027 3.29974C29.4664 1.38522 27.3833 0 24.9664 0C22.5721 0 20.4983 1.34335 19.3527 3.29974C18.2164 1.38522 16.1333 0 13.7164 0C10.0902 0 7.15393 3.04682 7.15393 6.70836C7.15393 9.8138 9.11331 12.3548 11.9708 13.2844C13.3939 13.745 14.2658 12.5357 14.1439 11.5658C14.0408 10.7618 13.4427 10.2376 12.7771 9.8607C11.8677 9.34647 10.9021 8.1723 10.9021 6.71673C10.9021 4.86754 12.1602 3.20762 13.7146 3.20762C15.2689 3.20762 16.5271 4.72349 16.5271 6.39848H18.4321C18.4264 6.50233 18.4021 6.60116 18.4021 6.70668C18.4021 9.81212 20.3614 12.3531 23.2189 13.2827C24.6421 13.7433 25.5139 12.534 25.3921 11.5642C25.2889 10.7618 24.6908 10.2376 24.0252 9.8607C23.1158 9.34647 22.1502 8.1723 22.1502 6.71673C22.1502 4.86754 23.4083 3.20762 24.9627 3.20762C26.5171 3.20762 27.7789 4.72516 27.7789 6.40016H29.6839C29.6783 6.50401 29.6539 6.60283 29.6539 6.70836C29.6539 9.8138 31.6133 12.3548 34.4708 13.2844C35.8939 13.745 36.7658 12.5357 36.6439 11.5658C36.5408 10.7635 35.9427 10.2392 35.2771 9.86237C34.3677 9.34815 33.4021 8.17398 33.4021 6.71841C33.4021 4.86921 34.6602 3.20929 36.2146 3.20929C37.7689 3.20929 39.0289 4.72516 39.0289 6.40016H40.9339C40.9283 6.50401 40.9039 6.60283 40.9039 6.70836C40.9039 9.8138 42.8633 12.3548 45.7208 13.2844C47.1439 13.745 48.0158 12.5357 47.8939 11.5658C47.7908 10.7635 47.1927 10.2392 46.5271 9.86237C45.6177 9.34815 44.6521 8.17398 44.6521 6.71841C44.6521 4.86921 45.9102 3.20929 47.4646 3.20929C49.0189 3.20929 50.2789 4.72516 50.2789 6.40016H54.0214C53.9821 3.05017 51.0664 0 47.4664 0Z"
            fill="#66757F" />
          <path
            d="M16.875 24.8252H24.375V31.5252H16.875V24.8252ZM26.25 24.8252H33.75V31.5252H26.25V24.8252ZM35.625 24.8252H43.125V31.5252H35.625V24.8252ZM45 24.8252H52.5V31.5252H45V24.8252ZM7.5 33.2002H15V39.9002H7.5V33.2002ZM16.875 33.2002H24.375V39.9002H16.875V33.2002ZM26.25 33.2002H33.75V39.9002H26.25V33.2002ZM35.625 33.2002H43.125V39.9002H35.625V33.2002ZM45 33.2002H52.5V39.9002H45V33.2002ZM7.5 41.5751H15V48.2751H7.5V41.5751ZM16.875 41.5751H24.375V48.2751H16.875V41.5751ZM26.25 41.5751H33.75V48.2751H26.25V41.5751ZM35.625 41.5751H43.125V48.2751H35.625V41.5751ZM45 41.5751H52.5V48.2751H45V41.5751ZM7.5 49.9501H15V56.6501H7.5V49.9501ZM16.875 49.9501H24.375V56.6501H16.875V49.9501ZM26.25 49.9501H33.75V56.6501H26.25V49.9501Z"
            fill="white" />
        </svg>
        <p>Appointments</p>
      </div>
      <div class="button-container" id="reminders-button">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M60 53.3333C60 57.015 57.015 60 53.3333 60H6.66667C2.985 60 0 57.015 0 53.3333V6.66667C0 2.985 2.985 0 6.66667 0H53.3333C57.015 0 60 2.985 60 6.66667V53.3333Z"
            fill="#8FC5A8" />
          <path
            d="M48.8 10.6034C46.8733 9.35174 44.2933 9.90007 43.0367 11.8301L24.8933 39.7951L16.5116 32.0451C14.8216 30.4817 12.185 30.5867 10.6233 32.2751C9.06165 33.9651 9.16498 36.6017 10.855 38.1634L22.87 49.2734C23.67 50.0151 24.6867 50.3817 25.6966 50.3817C26.8183 50.3817 28.2533 49.9117 29.195 48.4834C29.7483 47.6401 50.0283 16.3667 50.0283 16.3667C51.28 14.4351 50.73 11.8551 48.8 10.6034Z"
            fill="white" />
        </svg>
        <p>Reminders</p>
      </div>
      <div class="button-container" id="settings-button">
        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M22.0062 32.804C19.1424 32.804 16.396 31.6664 14.371 29.6414C12.346 27.6164 11.2084 24.8699 11.2084 22.0061C11.2084 19.1424 12.346 16.3959 14.371 14.3709C16.396 12.3459 19.1424 11.2083 22.0062 11.2083C24.87 11.2083 27.6164 12.3459 29.6414 14.3709C31.6664 16.3959 32.804 19.1424 32.804 22.0061C32.804 24.8699 31.6664 27.6164 29.6414 29.6414C27.6164 31.6664 24.87 32.804 22.0062 32.804V32.804ZM42.7632 26.6774C41.7901 26.3415 40.946 25.7106 40.3484 24.8724C39.7507 24.0342 39.4294 23.0305 39.429 22.0011C39.4287 20.9717 39.7494 19.9677 40.3465 19.1292C40.9435 18.2906 41.7872 17.6591 42.7601 17.3226C43.0464 17.2281 43.2861 17.0284 43.4309 16.764C43.5757 16.4996 43.6147 16.1901 43.5402 15.8981C43.0519 14.1718 42.3562 12.5112 41.4682 10.9524C41.3211 10.7062 41.0898 10.5218 40.817 10.4333C40.5442 10.3449 40.2487 10.3584 39.9851 10.4714C39.0293 10.863 37.9254 10.9647 36.7815 10.6718C35.9491 10.4485 35.1897 10.0111 34.579 9.40304C33.9682 8.79499 33.5274 8.03755 33.3004 7.20614C33.0111 6.14231 33.0771 5.01308 33.4885 3.99023C33.5997 3.72661 33.612 3.4317 33.5231 3.15976C33.4341 2.88783 33.2499 2.65716 33.0044 2.51023C31.4579 1.63359 29.8121 0.945226 28.1019 0.459809C27.8107 0.385227 27.5019 0.423956 27.2381 0.568176C26.9743 0.712396 26.775 0.95136 26.6805 1.23681C26.3445 2.20906 25.7136 3.05234 24.8758 3.64921C24.038 4.24609 23.0349 4.56686 22.0062 4.56686C20.9775 4.56686 19.9744 4.24609 19.1366 3.64921C18.2988 3.05234 17.6679 2.20906 17.3319 1.23681C17.2361 0.950886 17.0357 0.711818 16.7708 0.56767C16.506 0.423523 16.1964 0.384986 15.9043 0.459809C14.1468 0.953142 12.4818 1.66231 10.9309 2.54723C10.6895 2.68885 10.5072 2.91256 10.4172 3.17749C10.3272 3.44243 10.3355 3.73091 10.4406 3.99023C10.8113 4.89291 10.908 5.8848 10.7184 6.84206C10.5289 7.79932 10.0616 8.67955 9.37484 9.37285C8.68811 10.0662 7.81238 10.5418 6.85697 10.7405C5.90156 10.9392 4.9088 10.852 4.00262 10.4899C3.73902 10.3798 3.44456 10.3685 3.17327 10.4579C2.90198 10.5474 2.67206 10.7317 2.5257 10.9771C1.63988 12.5361 0.946213 14.1968 0.459867 15.9227C0.386282 16.212 0.424046 16.5183 0.565674 16.781C0.707303 17.0437 0.942459 17.2436 1.22453 17.3411C2.18366 17.6856 3.01302 18.3178 3.59932 19.1514C4.18562 19.985 4.50027 20.9793 4.50027 21.9984C4.50027 23.0176 4.18562 24.0118 3.59932 24.8454C3.01302 25.679 2.18366 26.3113 1.22453 26.6558C0.941462 26.7521 0.705145 26.9516 0.562812 27.2146C0.420479 27.4775 0.382614 27.7845 0.456783 28.0741C0.8977 29.6281 1.50512 31.1143 2.25128 32.5141C2.54728 33.0661 3.23178 33.2541 3.79912 32.9951C5.27603 32.3168 7.12912 32.3384 9.0192 33.5841C9.31542 33.7813 9.56999 34.0348 9.76845 34.3302C11.0758 36.3128 11.0388 38.2522 10.2618 39.7569C10.1183 40.0205 10.0812 40.329 10.158 40.6192C10.2349 40.9093 10.4198 41.159 10.6749 41.3171C12.3166 42.2794 14.0751 43.0265 15.9074 43.5401C16.1975 43.6162 16.5057 43.5784 16.7688 43.4345C17.0319 43.2906 17.2301 43.0515 17.3226 42.7662C17.654 41.788 18.2832 40.9379 19.122 40.3352C19.9608 39.7326 20.9672 39.4074 22 39.4054C24.1799 39.4054 26.0145 40.8145 26.6805 42.7662C26.884 43.3521 27.4976 43.7097 28.0958 43.5401C29.9049 43.0318 31.6424 42.2963 33.2665 41.351C33.5239 41.1933 33.7104 40.9425 33.7874 40.6507C33.8644 40.3589 33.8258 40.0487 33.6797 39.7846C32.8904 38.2738 32.8441 36.3313 34.1545 34.3395C34.3529 34.0431 34.6074 33.7886 34.9038 33.5902C36.8154 32.323 38.6901 32.3168 40.1763 33.0198C40.447 33.155 40.7591 33.1815 41.0487 33.0937C41.3383 33.006 41.5832 32.8108 41.7334 32.5481C42.4857 31.1482 43.0931 29.659 43.5371 28.0988C43.6117 27.8075 43.573 27.4988 43.4287 27.235C43.2845 26.9711 43.0456 26.7719 42.7601 26.6774"
            fill="#4F4F4F" />
        </svg>
        <p>Settings</p>
      </div>
    </div>
    <div class="middle-container">
      <div class="welcome-container">
        <div class="welcome-image-container">
          <svg id="logo" width="115" height="115" viewBox="0 0 115 115" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 115V0C91.294 -1.57771e-05 89.0915 115 0 115Z" fill="#F2C94C" />
            <path d="M0 115V0C91.294 -1.57771e-05 89.0915 115 0 115Z" fill="url(#paint0_linear)" />
            <path d="M115 115L0 0V115H115Z" fill="#2F80ED" />
            <path d="M115 115L0 0V115H115Z" fill="url(#paint1_linear)" />
            <path
              d="M4 110H5.85277V106.161H8.40033L10.8321 110H12.9661L10.2945 105.925C11.7254 105.516 12.6104 104.435 12.6104 103.077V103.063C12.6104 101.185 11.072 100 8.63193 100H4V110ZM5.85277 104.886V101.303H8.40033C9.82299 101.303 10.6998 101.968 10.6998 103.077V103.091C10.6998 104.227 9.88089 104.886 8.44996 104.886H5.85277Z"
              fill="#F2C94C" />
            <path
              d="M14.4053 110H21.9818V108.663H16.2581V105.558H21.6758V104.255H16.2581V101.337H21.9818V100H14.4053V110Z"
              fill="#F2C94C" />
            <path
              d="M23.8842 110H25.5715V102.62H25.6294L29.2275 110H30.6005L34.1985 102.62H34.2564V110H35.9438V100H33.8098L29.9388 107.983H29.8892L26.0265 100H23.8842V110Z"
              fill="#F2C94C" />
            <path d="M38.1439 110H39.9967V100H38.1439V110Z" fill="#F2C94C" />
            <path
              d="M42.1969 110H44.0331V102.592H44.0827L50.2283 110H51.9322V100H50.0959V107.394H50.0463L43.909 100H42.1969V110Z"
              fill="#F2C94C" />
            <path
              d="M54.1406 110H58.3507C61.9074 110 64 108.143 64 104.983V104.969C64 101.823 61.8908 100 58.3507 100H54.1406V110ZM55.9934 108.656V101.337H58.177C60.6915 101.337 62.1059 102.633 62.1059 104.983V104.997C62.1059 107.36 60.708 108.656 58.177 108.656H55.9934Z"
              fill="#F2C94C" />
            <defs>
              <linearGradient id="paint0_linear" x1="85.2475" y1="18.1921" x2="23.691" y2="77.8766"
                gradientUnits="userSpaceOnUse">
                <stop offset="0.167597" stop-color="#EC9C00" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
              </linearGradient>
              <linearGradient id="paint1_linear" x1="11.987" y1="37.0339" x2="15.6521" y2="115.057"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#8FC5A8" />
                <stop offset="1" stop-color="white" stop-opacity="0" />
              </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="welcome-message-container">
          <p class="title">Good Morning Sarah!</p>
          <p>Type in any new activity or item! We will sort it in the right category for you!</p>
        </div>
      </div>
      <div class="main-sub-container">
        <div class="main-all-container">
          <% for (let i=0; i < data.length; i++) { %>
            <div class="main-item-container-padding">
              <div class="main-item-container">
                <div class="item-time">
                  <% const time=data[i].startDate.toLocaleString('en-US', { hour: 'numeric' , minute: 'numeric' ,
                    hour12: true }).split(" ") %>
                      <% if (time[0].length == 4) { %>
                        <p class="time">0<%= time[0] %></p>
                      <% } else { %>
                        <p class="time"><%= time[0] %></p>
                      <% } %>
                        <p><%= time[1] %></p>
                </div>
                <div class="item-icon">
                  <% const category=data[i].category %>
                    <% if (category=="Medications" ) { %>
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M14.7589 9.25052L10.8175 5.10783L4.93576 11.4807L8.79531 15.5438L8.79576 15.5434C9.55975 16.3457 10.614 16.8421 11.778 16.8421C14.1095 16.8421 16.0002 14.8519 16.0002 12.3976C16.0002 11.1682 15.5255 10.0552 14.7589 9.25052Z"
                          fill="#8FC5A8" />
                        <path
                          d="M7.07599 1.17567C6.32399 0.447719 5.32399 0 4.22222 0C1.89022 0 0 1.9897 0 4.44444C0 5.6042 0.425777 6.6573 1.11733 7.44841L1.11111 7.45496L4.93555 11.4807L10.8173 5.10783L7.07599 1.17567Z"
                          fill="#CA5C1D" />
                      </svg>
                      <% } else if (category=="Bills" ) { %>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M14.949 10.6391C14.65 7.69778 13 6.22222 13 6.22222L10 2.66667H6L3 6.22222C3 6.22222 2.2905 6.85911 1.7165 8.12222C0.722 8.41556 0 9.23956 0 10.2222C0 10.8658 0.3125 11.4409 0.8045 11.8467C0.6165 12.1587 0.5 12.5098 0.5 12.8889C0.5 13.7591 1.068 14.5049 1.8875 14.8693C2.529 15.7236 3.386 16 4 16H12C12.6895 16 13.6865 15.6538 14.339 14.5289C15.3045 14.2218 16 13.4089 16 12.4444C16 11.6987 15.583 11.0427 14.949 10.6391ZM8 2.66667C8.275 2.66667 8.529 2.59644 8.75 2.48178C8.9715 2.59644 9.2255 2.66667 9.5 2.66667C10.3285 2.66667 11.5 1.62489 11.5 0.888889C11.5 0.888889 11.5 0 10.5 0C10.106 0 10 0.444444 9.5 0.444444C9 0.444444 9 0 8 0C7 0 7 0.444444 6.5 0.444444C6 0.444444 5.8945 0 5.5 0C4.5 0 4.5 0.888889 4.5 0.888889C4.5 1.62489 5.672 2.66667 6.5 2.66667C6.7745 2.66667 7.0285 2.59644 7.25 2.48178C7.4715 2.59644 7.7255 2.66667 8 2.66667Z"
                            fill="#FDD888" />
                          <path
                            d="M10.9505 10.3741C10.9505 8.38436 6.65998 8.51414 6.65998 7.31369C6.65998 6.73236 7.31048 6.44836 8.06548 6.44836C9.33448 6.44836 9.56048 7.14569 10.135 7.14569C10.5415 7.14569 10.7375 6.92658 10.7375 6.6808C10.7375 6.11014 9.72548 5.67814 8.75498 5.5288V4.97769C8.75498 4.63414 8.42998 4.35547 8.02798 4.35547C7.62548 4.35547 7.29998 4.63414 7.29998 4.97769V5.54791C6.24198 5.75369 5.33148 6.38125 5.33148 7.40391C5.33148 9.31458 9.62098 9.23725 9.62098 10.5795C9.62098 11.0448 9.03198 11.5097 8.06548 11.5097C6.61498 11.5097 6.13198 10.6701 5.54298 10.6701C5.25598 10.6701 4.99948 10.8764 4.99948 11.1875C4.99948 11.6821 5.96848 12.2768 7.30098 12.4426L7.30048 12.447V13.0684C7.30048 13.4115 7.62648 13.6906 8.02848 13.6906C8.43048 13.6906 8.75598 13.4115 8.75598 13.0684V12.447C8.75598 12.4395 8.75198 12.4337 8.75148 12.427C9.95048 12.2359 10.9505 11.5684 10.9505 10.3741Z"
                            fill="#6A93A0" />
                          <path
                            d="M10.8 2.04454C10.8 2.28988 10.5765 2.48899 10.3 2.48899H5.29999C5.02399 2.48899 4.79999 2.28988 4.79999 2.04454C4.79999 1.79921 5.02399 1.6001 5.29999 1.6001H10.3C10.5765 1.6001 10.8 1.79921 10.8 2.04454Z"
                            fill="#CA5C1D" />
                        </svg>
                        <% } else if (category=="Appointments" ) { %>
                          <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.4076 1.7067H14.4056V2.15336H13.4076V1.7067Z" fill="#66757F" />
                            <path
                              d="M0 5.28003V14.2133C0 15.2 0.8955 16 2 16H14C15.1045 16 16 15.2 16 14.2133V5.28003H0Z"
                              fill="#CCD6DD" />
                            <path
                              d="M14 1.7067H2C0.8955 1.7067 0 2.50667 0 3.49336V5.72668H16V3.49336C16 2.50667 15.1045 1.7067 14 1.7067Z"
                              fill="#CA5C1D" />
                            <path
                              d="M3.41791 3.81989C3.06691 3.81989 2.78241 3.52241 2.78241 3.1548C2.78241 2.78764 3.06691 2.48972 3.41791 2.48972C3.76841 2.48972 4.05291 2.78764 4.05291 3.1548C4.05291 3.52196 3.76841 3.81989 3.41791 3.81989ZM6.41791 3.81989C6.06691 3.81989 5.78241 3.52241 5.78241 3.1548C5.78241 2.78764 6.06691 2.48972 6.41791 2.48972C6.76841 2.48972 7.05291 2.78764 7.05291 3.1548C7.05291 3.52196 6.76841 3.81989 6.41791 3.81989ZM9.41791 3.81989C9.06691 3.81989 8.78241 3.52241 8.78241 3.1548C8.78241 2.78764 9.06691 2.48972 9.41791 2.48972C9.76841 2.48972 10.0534 2.78764 10.0534 3.1548C10.0529 3.52196 9.76841 3.81989 9.41791 3.81989ZM12.4179 3.81989C12.0669 3.81989 11.7824 3.52241 11.7824 3.1548C11.7824 2.78764 12.0669 2.48972 12.4179 2.48972C12.7684 2.48972 13.0534 2.78764 13.0534 3.1548C13.0529 3.52196 12.7684 3.81989 12.4179 3.81989Z"
                              fill="#292F33" />
                            <path
                              d="M12.6576 0C12.0191 0 11.4661 0.358226 11.1606 0.879931C10.8576 0.369392 10.3021 0 9.65756 0C9.01906 0 8.46606 0.358226 8.16056 0.879931C7.85756 0.369392 7.30206 0 6.65756 0C6.01906 0 5.46606 0.358226 5.16056 0.879931C4.85756 0.369392 4.30206 0 3.65756 0C2.69056 0 1.90756 0.812484 1.90756 1.78889C1.90756 2.61701 2.43006 3.2946 3.19206 3.5425C3.57156 3.66534 3.80406 3.34284 3.77156 3.08422C3.74406 2.86983 3.58456 2.73002 3.40706 2.62952C3.16456 2.49239 2.90706 2.17928 2.90706 1.79113C2.90706 1.29801 3.24256 0.855364 3.65706 0.855364C4.07156 0.855364 4.40706 1.2596 4.40706 1.70626H4.91506C4.91356 1.73396 4.90706 1.76031 4.90706 1.78845C4.90706 2.61657 5.42956 3.29416 6.19156 3.54206C6.57106 3.66489 6.80356 3.3424 6.77106 3.08378C6.74356 2.86983 6.58406 2.73002 6.40656 2.62952C6.16406 2.49239 5.90656 2.17928 5.90656 1.79113C5.90656 1.29801 6.24206 0.855364 6.65656 0.855364C7.07106 0.855364 7.40756 1.26004 7.40756 1.70671H7.91556C7.91406 1.7344 7.90756 1.76075 7.90756 1.78889C7.90756 2.61701 8.43006 3.2946 9.19206 3.5425C9.57156 3.66534 9.80406 3.34284 9.77156 3.08422C9.74406 2.87027 9.58456 2.73047 9.40706 2.62997C9.16456 2.49284 8.90706 2.17973 8.90706 1.79157C8.90706 1.29846 9.24256 0.855811 9.65706 0.855811C10.0716 0.855811 10.4076 1.26004 10.4076 1.70671H10.9156C10.9141 1.7344 10.9076 1.76075 10.9076 1.78889C10.9076 2.61701 11.4301 3.2946 12.1921 3.5425C12.5716 3.66534 12.8041 3.34284 12.7716 3.08422C12.7441 2.87027 12.5846 2.73047 12.4071 2.62997C12.1646 2.49284 11.9071 2.17973 11.9071 1.79157C11.9071 1.29846 12.2426 0.855811 12.6571 0.855811C13.0716 0.855811 13.4076 1.26004 13.4076 1.70671H14.4056C14.3951 0.813378 13.6176 0 12.6576 0Z"
                              fill="#66757F" />
                            <path
                              d="M4.5 6.62003H6.5V8.40669H4.5V6.62003ZM7 6.62003H9V8.40669H7V6.62003ZM9.5 6.62003H11.5V8.40669H9.5V6.62003ZM12 6.62003H14V8.40669H12V6.62003ZM2 8.85335H4V10.64H2V8.85335ZM4.5 8.85335H6.5V10.64H4.5V8.85335ZM7 8.85335H9V10.64H7V8.85335ZM9.5 8.85335H11.5V10.64H9.5V8.85335ZM12 8.85335H14V10.64H12V8.85335ZM2 11.0867H4V12.8733H2V11.0867ZM4.5 11.0867H6.5V12.8733H4.5V11.0867ZM7 11.0867H9V12.8733H7V11.0867ZM9.5 11.0867H11.5V12.8733H9.5V11.0867ZM12 11.0867H14V12.8733H12V11.0867ZM2 13.32H4V15.1067H2V13.32ZM4.5 13.32H6.5V15.1067H4.5V13.32ZM7 13.32H9V15.1067H7V13.32Z"
                              fill="white" />
                          </svg>
                          <% } else if (category=="Tasks" ) { %>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M16 14.2222C16 15.204 15.204 16 14.2222 16H1.77778C0.796 16 0 15.204 0 14.2222V1.77778C0 0.796 0.796 0 1.77778 0H14.2222C15.204 0 16 0.796 16 1.77778V14.2222Z"
                                fill="#8FC5A8" />
                              <path
                                d="M13.0133 2.82757C12.4996 2.49379 11.8116 2.64002 11.4764 3.15468L6.63822 10.612L4.40311 8.54535C3.95245 8.12846 3.24933 8.15646 2.83289 8.60668C2.41645 9.05735 2.444 9.76046 2.89467 10.1769L6.09867 13.1396C6.312 13.3373 6.58311 13.4351 6.85245 13.4351C7.15156 13.4351 7.53422 13.3098 7.78534 12.9289C7.93289 12.704 13.3409 4.36446 13.3409 4.36446C13.6747 3.84935 13.528 3.16135 13.0133 2.82757Z"
                                fill="white" />
                            </svg>
                            <% } %>
                </div>
                <div class="item-description">
                  <p class="title">
                    <%= data[i].title %>
                  </p>
                  <p>Before breakfast with lots of water.</p>
                </div>
                <div class="item-checkbox" name=<%=data[i].id %> value=<%=data[i].checked %>>
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="24" height="24" fill="white" fill-opacity="0.01" />
                    <% if (data[i].checked) { %>
                      <!-- <input class="form-check-input item-checkbox" type="checkbox" name=<%=data[i].id %> value=<%=data[i].checked %> checked> -->
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM9.3824 11.0689C9.50441 11.1213 9.61475 11.1975 9.707 11.293L11 12.586L14.293 9.29302C14.3852 9.19751 14.4956 9.12133 14.6176 9.06892C14.7396 9.01651 14.8708 8.98892 15.0036 8.98777C15.1364 8.98662 15.2681 9.01192 15.391 9.0622C15.5138 9.11248 15.6255 9.18673 15.7194 9.28063C15.8133 9.37452 15.8875 9.48617 15.9378 9.60907C15.9881 9.73196 16.0134 9.86364 16.0122 9.99642C16.0111 10.1292 15.9835 10.2604 15.9311 10.3824C15.8787 10.5044 15.8025 10.6148 15.707 10.707L11.707 14.707C11.5195 14.8945 11.2652 14.9998 11 14.9998C10.7348 14.9998 10.4805 14.8945 10.293 14.707L8.293 12.707C8.19749 12.6148 8.1213 12.5044 8.0689 12.3824C8.01649 12.2604 7.9889 12.1292 7.98775 11.9964C7.98659 11.8636 8.0119 11.732 8.06218 11.6091C8.11246 11.4862 8.18671 11.3745 8.2806 11.2806C8.3745 11.1867 8.48615 11.1125 8.60904 11.0622C8.73194 11.0119 8.86362 10.9866 8.9964 10.9878C9.12918 10.9889 9.2604 11.0165 9.3824 11.0689Z" fill="#6A93A0"/>
                    <% } else { %>
                      <!-- <input class="form-check-input item-checkbox" type="checkbox" name=<%=data[i].id %> value=<%=data[i].checked %>> -->
                      <path d="M12 19C12.9193 19 13.8295 18.8189 14.6788 18.4672C15.5281 18.1154 16.2997 17.5998 16.9497 16.9497C17.5998 16.2997 18.1154 15.5281 18.4672 14.6788C18.8189 13.8295 19 12.9193 19 12C19 11.0807 18.8189 10.1705 18.4672 9.32122C18.1154 8.47194 17.5998 7.70026 16.9497 7.05025C16.2997 6.40024 15.5281 5.88463 14.6788 5.53284C13.8295 5.18106 12.9193 5 12 5C10.1435 5 8.36301 5.7375 7.05025 7.05025C5.7375 8.36301 5 10.1435 5 12C5 13.8565 5.7375 15.637 7.05025 16.9497C8.36301 18.2625 10.1435 19 12 19ZM12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 10.8181 3.23279 9.64778 3.68508 8.55585C4.13738 7.46392 4.80031 6.47177 5.63604 5.63604C6.47177 4.80031 7.46392 4.13738 8.55585 3.68508C9.64778 3.23279 10.8181 3 12 3C14.3869 3 16.6761 3.94821 18.364 5.63604C20.0518 7.32387 21 9.61305 21 12C21 14.3869 20.0518 16.6761 18.364 18.364C16.6761 20.0518 14.3869 21 12 21Z" fill="#6A93A0"/>
                    <% } %>
                  </svg>
                </div>
              </div>
            </div>
            <% } %>
        </div>
        <%- include('partials/settings') %>
          <%- include('partials/add_items') %>
            <%- include('partials/medications') %>
              <%- include('partials/bills') %>
                <%- include('partials/appointments') %>
                  <%- include('partials/reminders') %>
      </div>
    </div>
    <%- include('partials/notifications') %>

  </div>
  <%- include('partials/foot_default') %>